#app main {
  .wdt50 {
    width: 50%;
  }
  .wdt100 {
    width: 100%;
  }
  .wd70 {
    width: 70%;
  }
  .hg60 {
    height: 60vh;
  }
  .bsi {
    block-size: inherit !important;
  }
  .scroll {
    border-top: 1px solid #1c1b1e;
  }
  .scroll {
    --scrollbar-track-bg: #2d2d2d;
    --scrollbar-thumb-bg: #8e8e8e;

    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  }
  .wsnw {
    white-space: nowrap;
  }
  .wsw {
    white-space: wrap !important;
  }
  .gap0 {
    gap: 0 !important;
  }
  dialog {
    max-width: 80vw;
  }
}
