body.light {
  --scrollbar-track-bg: #f7f2f7;
  --scrollbar-thumb-bg: #b3b3b3;
}

body.dark {
  --scrollbar-track-bg: #1c1b1e;
  --scrollbar-thumb-bg: #492450;
}

#app main {
  .wdt50 {
    width: 50%;
  }
  .wd100 {
    width: 100%;
  }
  .wd90 {
    width: 90%;
  }
  .wd70 {
    width: 70%;
  }
  .hg60 {
    height: 60vh;
  }
  .hg70 {
    height: 70vh;
  }
  .bsi {
    block-size: inherit !important;
  }
  .scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  }
  .wsnw {
    white-space: nowrap;
  }
  .wsw {
    white-space: wrap !important;
  }
  .gap0 {
    gap: 0 !important;
  }
  dialog {
    max-width: 80vw;
  }
  .fdc {
    flex-direction: column;
  }
  .ain {
    align-items: normal;
  }
  .gap0 {
    gap: 0 !important;
  }
  .vat {
    vertical-align: top;
  }
  .cp {
    cursor: pointer;
  }
  .loader-message {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9999;
  }
  .loader-overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .spinner {
    width: 12rem;
    height: 12rem;
    border: 5px solid transparent;
    border-top: 5px solid rgb(57, 129, 223);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .headerProcessos > li::before {
    background-color: #4e198f !important;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
