body.light {
  --scrollbar-track-bg: #f7f2f7;
  --scrollbar-thumb-bg: #b3b3b3;
}

body.dark {
  --scrollbar-track-bg: #1c1b1e;
  --scrollbar-thumb-bg: #492450;
}

#app main {
  .wdt50 {
    width: 50%;
  }
  .wdt100 {
    width: 100%;
  }
  .wd70 {
    width: 70%;
  }
  .hg60 {
    height: 60vh;
  }
  .bsi {
    block-size: inherit !important;
  }
  .scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  }
  .wsnw {
    white-space: nowrap;
  }
  .wsw {
    white-space: wrap !important;
  }
  .gap0 {
    gap: 0 !important;
  }
  dialog {
    max-width: 80vw;
  }
}
